
html {
    height: 100%;
}

body {
    height: 100%;
    color: #202020;
    background: #f8f8f8;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
    min-height: 100%;
    position: relative;
}


/* navigation */

.navbar {
    background: #005070;
    border-bottom: 2px solid #000000;
    text-align: center;
    height: 48px;
	margin: 0;
	padding: 0;
}

.navbar a {
    text-decoration: none;
}

.menuGap {
	display: inline-block;
	position: relative;
	padding: 0;
}

.menu {
	display: inline-block;
	position: relative;
	padding: 0;
    z-index: 1;
}

.menu > a {
    color: #f8f8f8;
    font-weight: bold;
}

.menu:hover {
	background:#207090;
}

.menu:hover > a {
	color: #ffffff;
}

.menu > ul {
    margin: 0;
	padding: 0;
    list-style: none;
    display: block;
    position: absolute;
    top: 48px;
    visibility: hidden;
    background: #ffffff;
    text-align: center;
}

.menu:hover > ul {
    min-width: 192px;
	width: 100%;
	visibility: visible;
}

.menu > ul > li:hover {
	background: #f0f1ff;
}

.menu > ul > li > a {
	color: #404040;
}

.menu > ul > li > a:hover {
	color: #404040;
}

.menu p {
    margin: 0;
    padding: 16px 0;
}


/* main content area */

.unitMenu {
    position: absolute;
    left: 16px;
    top: 64px;
    background: #f8f8f8;
}

.main {
    background: #f8f8f8;
	text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 60px;
    padding-bottom: 120px;
}

.main a {
	color:#007399;
	text-decoration:none;
}

.main a:hover {
	color:black;
	text-decoration:underline;
}


.footer {
	padding: 32px;
	background: #404040;
	color: #f0f0f0;
	text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-top: thin solid #808080;
    position: absolute;
    bottom: 0;
    width: 100%;
}


/* forms */

.inputBox {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 16px;
    border: thin solid #e0e0e0;
    padding: 8px 16px;
}

.inputList {
    border-radius: 16px 0 0 16px;
    border: thin solid #e0e0e0;
    padding: 8px 16px;
}

.inputButton {
    border: 2px solid #c0c0c0;
    background: #f4f4f4;
    border-radius: 16px;
    padding: 8px 16px;
}
.inputButton:hover {
    border: 2px solid #a0c0e0;
    background: #e0e4ff;
    border-radius: 16px;
    padding: 8px 16px;
    cursor: pointer;
}

.updateBox {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 16px;
    border: thin solid #e0e0e0;
    padding: 1px 16px;
}

.updateList {
    border-radius: 16px 0 0 16px;
    border: thin solid #e0e0e0;
    padding: 1px 16px;
}

.updateButton {
    border: 2px solid #c0c0c0;
    background: #f4f4f4;
    border-radius: 16px;
    padding: 1px 16px;
}
.updateButton:hover {
    border: 2px solid #a0c0e0;
    background: #e0e4ff;
    border-radius: 16px;
    padding: 1px 16px;
    cursor: pointer;
}


/* default tables */

table {
    border-collapse: collapse;
    border: 0;
}

/* default max-width to prevent excessive sized cells for long content */
td {
    max-width: 384px;
}


/* decorated tables */

.listTable {
    border: 1px solid #c0c0c0;
}

.listTable th {
    padding: 4px 8px;
    min-height: 32px;
    border-right: thin solid #306080;
    border-bottom: thin solid #306080;
    background: #005070;
    color: #f8f8f8;
    font-weight: normal;
}

.listTable td {
    padding: 4px 8px;
    min-height: 32px;
    border-right: thin solid #c0c0c0;
    border-bottom: thin solid #c0c0c0;
}

.listTable tr:nth-child(odd) {
    background: #f4f4f4;
}
.listTable tr:nth-child(even) {
    background: #ececec;
}


/* survey */

.surveyTable td {
    text-align: center;
    min-width: 96px;
    border: 0;
    padding: 0;
}

.surveyTable th {
    text-align: center;
    min-width: 96px;
    border: 0;
    padding: 0;
}

.surveyTable td div {
    width: 100%;
    height: 100%;
}

.radioCell {
    background: #e0e0e0;
    cursor: pointer;
}

.radioCell:hover {
    background: #80a0e0;
}


/* data management */

.flexcontainer {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flexitem {
}
